
table{

  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.048); 
  cursor: pointer;
  // the table can't effect its node children because they get style from all the classes they get from the theme.
  // you need to add style below.
}
td{
  color:white; 
  font-family: 'Courier New', Courier, monospace; 
  background-color: rgb(37, 0, 248);

}

  .mat-column-uid {
    width: 10px;
  }
  .mat-column-age {
    width: 10px;
  }
  .mat-column-firstName {
    width: 50%;
    text-align: center;
    font-size: large;
  }
   .mat-column-firstName:hover{
    background-color: rgba(255, 0, 0, 0.719);
     
   }